<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <extensions>
        <bindingElementExtensions>
          <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, 
               Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </bindingElementExtensions>
        <bindingExtensions>
          <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, 
               Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </bindingExtensions>
        <behaviorExtensions>
          <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="securityBehavior">
            <transportClientEndpointBehavior>
              <tokenProvider>
                <sharedSecret issuerName="owner" issuerSecret="[Issuer key]" />
              </tokenProvider>
            </transportClientEndpointBehavior>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <netMessagingBinding>
          <binding name="messagingBinding" sendTimeout="00:03:00" receiveTimeout="00:03:00" openTimeout="00:03:00" closeTimeout="00:03:00" sessionIdleTimeout="00:01:00" prefetchCount="-1">
            <transportSettings batchFlushInterval="00:00:01" />
          </binding>
        </netMessagingBinding>
      </bindings>
      <client>
        <endpoint name="pingClient"
                  address="sb://[ServiceBus Namespace].servicebus.windows.net/PingQueue"
                  binding="netMessagingBinding" bindingConfiguration="messagingBinding"
                  contract="Microsoft.Samples.SessionMessages.IPingServiceContract"
                  behaviorConfiguration="securityBehavior"/>
      </client>
    </system.serviceModel>
</configuration>